.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  margin-top: 50px;

  &__item {
    width: 170px;
    height: 90px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--border-color);
    transition: border-color var(--duration) var(--cubic),
      color var(--duration) var(--cubic);
  }
  &__link:hover,
  &__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
