.hero {
  background: var(--dark-background);
  background-position: 50%;
}
.hero-button {
  display: flex;
  margin: 30px auto;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  padding: 10px 33px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-title {
  margin: 0 auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/studio-imgs/mobile/header-img-mob.jpg");

    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/studio-imgs/mobile/header-img-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/studio-imgs/tablet/header-img-tabl.jpg");

    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/studio-imgs/tablet/header-img-tabl@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/studio-imgs/desktop/header-img-desk.jpg");

    background-size: cover;
  }

  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/studio-imgs/desktop/header-img-desk@2x.jpg");
  }
}

// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   background: var(--dark-background);
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../img/studio-imgs/hero-bg.jpg");
//   background-repeat: no-repeat;
//   background-size: 1600px 600px;
//   background-position: 50%;
// }
