.service {
  padding-top: 94px;
  padding-bottom: 94px;
}

.service-list {
  display: flex;
  margin-top: 50px;

  justify-content: space-between;

  &__item {
    position: relative;
    width: 370px;
    height: 294px;
  }

  &__name {
    position: absolute;
    bottom: 0;

    padding: 27px;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
  }
}
