.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background: var(--light-background);
}

.members-list {
  display: flex;
  margin-top: 50px;
}

.members-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(70, 44, 44, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.member-decription {
  padding: 30px;
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;

  color: var(--titles-text-color);
}

.member-position {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}
