.icon {
  fill: currentColor;

  .header & {
    margin-right: 10px;
  }
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill var(--duration) var(--cubic);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
