:root {
  --text-font: "Roboto", sans-serif;
  --main-text-color: #757575;
  --titles-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-background: #f5f4fa;
  --dark-background: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
